@charset "ISO-8859-1";
h2{
	text-align: center;  
    color: black;  
    padding: 20px;
}
body {
    text-align: center; 
    background-image: url("../resource/image/beefporataindex.jpg");
    background-repeat: no-repeat;
    background-size:1300px 900px;
    height: 1000px;
}
/* body {
    text-align: left; 
    background-image: url("../resource/image/beefporataindex.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
} */